  {{!-- {{#if blog.length}} --}}
  <div class="col-md-6 blog-list mt-5 text-center">
    <h3>Current Blog:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2 card bg-warning">
      <div class="col-md-8 d-flex justify-content-center mt-3 mb-2">
        <h4><a class="text-success" href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4 text-center mb-2">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- {{/if}} --}}
</div>



<script src="/js/dashboard.js"></script>