body {
    background-color: rgb(247, 225, 178);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h1 {
    font-size: 5em;
    text-shadow: 5px 5px 0 #623f51;
}

nav { 
    font-size: 1.5em;
}


